.first-lvl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 25px;
}

.label-foot {
    color: blue;
    font-size: large;
    font-weight: 700;
    position: relative;
    align-self: center;
    margin-right: 70px;
}

.text-cont {
    text-align: left;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.icons img {
    width: 30px;
    height: 30px;
}

.footer-hr {
    margin: 50px;
    border: 1.5px solid black;
}